*{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}

 .main_container{
     width: 100%;
     height: 100vh;
     display: flex;
     justify-content: center;
 }
// .content_container{
//     background-color: blueviolet;
//     width: 50%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }
// .content_container .input_box {
//     flex-direction: column;
//     width: 100%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     row-gap: 8px;
// }
// .content_container .input_box div input {
//     line-height: 26px;
// }

// button{
//     border: none;
//     font-weight: bold;
//     font-size: 20px;
//     color: white;
//     background-color: red;
//     border-radius: 5px;
//     width: 200px;
//     height: 50px;
// }